
.box-shadow {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    
}

/* Estilo del calendar */
.react-calendar {
    width: 850px;
    max-width: 100%;
    background: white;
    border: 1px solid #030300;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }

  

  
  
 
  